In [1]:
import pandas as pd
import numpy as np

#Statistic
from scipy import stats

# Dataframe

In [2]:
df=pd.read_csv("C:\\Users\\Saravanan\\OneDrive\\Desktop\\Datasets_data\\road_accident_data_by_vehicle_type.csv")

In [3]:
df

,Location,Motor Car,Dual Purpose Vehicle,Lorry,Cycle,Motor Cycle/Moped,Three wheeler,"Articulated Vehicle, prime mover",SLT Bus,Private Bus,Intercity Bus,Land Vehicle/Tractor,Animal drawn vehicle or rider on animal,Other
0,Ampara,59,102,121,93,575,169,4,15,35,1,41,4,0
1,Anuradhapura,116,224,246,158,845,196,2,28,104,3,72,0,6
2,Badulla (Badulla & Bandarawela Divisions),82,121,171,20,266,219,2,58,78,1,16,0,5
3,Batticaloa,26,43,30,64,224,52,4,9,25,1,24,1,2
4,Chilaw (Chilaw & Puttalam Divisions),102,213,224,134,530,163,14,23,84,1,19,1,3
5,"Colombo (Colombo-South, North, Central, Mt. La...",4708,2675,1686,221,2835,2804,110,190,1194,4,59,0,63
6,Galle (Galle & Elpitiya Divisions),488,377,348,216,1346,586,16,73,224,3,16,0,9
7,"Gampaha (Gampaha, Negombo & Kelaniya Divisions)",2018,1688,1352,317,2598,1466,175,123,590,9,38,4,6
8,Jaffna (Jaffna & KKS Divisions),32,64,46,73,213,63,1,8,21,0,28,0,0
9,Kalutara (Kalutara & Panadura Divisions),381,398,337,226,1022,525,15,53,238,4,15,0,6
10,Kandy (Kandy & Gampola Divisions),735,637,526,29,746,895,4,148,403,4,10,1,18
11,Kegalle (Kegalle & Seethawaka Divisions),281,323,357,23,500,545,11,82,224,1,15,0,12
12,Kilinochchi (Kilinochchi & Mankulam Divisions),5,74,93,30,120,15,3,21,42,0,10,0,1
13,"Kurunegala (Kurunegala, Kuliyapitiya & Nikawer...",333,428,522,193,1349,433,16,97,218,4,35,0,17
14,Mannar,12,35,26,18,71,35,0,1,8,0,7,0,0
15,Matale,118,192,246,68,384,306,8,50,110,3,15,0,7
16,Matara,138,200,163,107,593,297,0,26,131,2,13,0,1
17,Monaragala,64,104,162,58,389,197,1,21,47,0,27,0,2
18,Mulathivu,1,6,2,9,5,0,0,0,3,0,1,0,0
19,Nuwara-Eliya (Nuwara-Eliya & Hatton Divisions),80,136,130,12,89,247,4,32,83,1,6,0,14
20,Polonnaruwa,36,92,136,63,348,95,1,18,31,1,36,0,0
21,Ratnapura,182,234,321,42,553,443,9,38,155,2,8,0,0
22,Tangalle (Tangalle Division),59,236,148,66,480,110,11,34,70,0,36,0,2
23,Trincomalee (Trincomalee & Kantale Divisions),23,72,78,63,286,129,2,12,30,0,27,3,4
24,Vavuniya,4,15,32,26,66,20,0,3,3,0,2,0,0

# Data Cleaning

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 14 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Location                                 25 non-null     object
 1   Motor Car                                25 non-null     int64
 2   Dual Purpose Vehicle                     25 non-null     int64
 3   Lorry                                    25 non-null     int64
 4   Cycle                                    25 non-null     int64
 5   Motor Cycle/Moped                        25 non-null     int64
 6   Three wheeler                            25 non-null     int64
 7   Articulated Vehicle, prime mover         25 non-null     int64
 8   SLT Bus                                  25 non-null     int64
 9   Private Bus                              25 non-null     int64
 10  Intercity Bus                            25 non-null     int64
 11  Land Vehicle/Tractor                     25 non-null     int64
 12  Animal drawn vehicle or rider on animal  25 non-null     int64
 13  Other                                    25 non-null     int64
dtypes: int64(13), object(1)
memory usage: 2.9+ KB

In [5]:
df.isnull().sum()

Location                                   0
Motor Car                                  0
Dual Purpose Vehicle                       0
Lorry                                      0
Cycle                                      0
Motor Cycle/Moped                          0
Three wheeler                              0
Articulated Vehicle, prime mover           0
SLT Bus                                    0
Private Bus                                0
Intercity Bus                              0
Land Vehicle/Tractor                       0
Animal drawn vehicle or rider on animal    0
Other                                      0
dtype: int64

In [6]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
dtype: bool

In [8]:
df['Other'].unique()

array([ 0,  6,  5,  2,  3, 63,  9, 18, 12,  1, 17,  7, 14,  4],
      dtype=int64)

In [9]:
df.head()

,Location,Motor Car,Dual Purpose Vehicle,Lorry,Cycle,Motor Cycle/Moped,Three wheeler,"Articulated Vehicle, prime mover",SLT Bus,Private Bus,Intercity Bus,Land Vehicle/Tractor,Animal drawn vehicle or rider on animal,Other
0,Ampara,59,102,121,93,575,169,4,15,35,1,41,4,0
1,Anuradhapura,116,224,246,158,845,196,2,28,104,3,72,0,6
2,Badulla (Badulla & Bandarawela Divisions),82,121,171,20,266,219,2,58,78,1,16,0,5
3,Batticaloa,26,43,30,64,224,52,4,9,25,1,24,1,2
4,Chilaw (Chilaw & Puttalam Divisions),102,213,224,134,530,163,14,23,84,1,19,1,3